###  PA4 Luke Jennings Ver 1.0 CS 150-02

Apend adds a single new element to the end of a tuple or list

In [4]:
number=[50,40,20,25]
number.append(66)
print(number)

[50, 40, 20, 25, 66]

 Extends allows us to add multiple new elements to the end of a tuple or list

In [5]:
number=[50,40,20,25]
numbers=[30,20,"This is a string",50]
print("This is the old", number)
number.extend(numbers)
print("This is the new", number)

This is the old [50, 40, 20, 25]
This is the new [50, 40, 20, 25, 30, 20, 'This is a string', 50]

Insert allows us to put a new element anywhere inside a tuple or list

In [7]:
number=[50,40,20,25]
number.insert(1,77)
print(number)

[50, 77, 40, 20, 25]

Remove deletes an elements from a tuple or list

In [9]:
number=[50,40,20,25]
number.remove(40)
number.remove(25)
print(number)

[50, 20]

Count checks the amount of times an element appears in a tuple or list

In [13]:
number=[50,40,20,25,25]
## Count
print("25 has repeated",number.count(25), "times")
print("50 has repeated",number.count(50), "times")

25 has repeated 2 times
50 has repeated 1 times

Index checks what position an element is in a tuple or list

In [15]:
number=[50,40,20,25]
## Index
print("20 is in position", number.index(20))

20 is in position 2

Pop removes an element from a specified index

In [17]:
number=[50,40,20,25]
## Pop
print(number)
number.pop(0)
print(number)
number.pop(-1)
print(number)

[50, 40, 20, 25]
[40, 20, 25]
[40, 20]

Sort permanently sorts elements from a list or tuple

In [18]:
number=[50,40,20,25]
## Sorted
print(number)
number.sort()
print(number)

[50, 40, 20, 25]
[20, 25, 40, 50]

Copy allows us to copy a list of elements into another variable

In [19]:
number=[50,40,20,25]
## Copy
print(number)
numbers=number.copy()
print('Copied', numbers)

[50, 40, 20, 25]
Copied [50, 40, 20, 25]

Clear removes all elements from a list

In [23]:
number=[50,40,20,25,25]
print(number)
number.clear()
print(number)

[50, 40, 20, 25, 25]
[]

Any checks if an element in a list exists or not

In [29]:
number=[50,40,20,25]
print(any(number))

True

Filters elements inside a list to satisfy a function

In [31]:
number=[50,40,20,25]
def filt(x):
    if x<30:
        return False
    else:
        return True
numbers=filter(filt,number)
for x in numbers:
    print(x)

50
40

List converts a string into a list

In [33]:
number= 'Number'
numbers= list(number)
print(numbers)

['N', 'u', 'm', 'b', 'e', 'r']

Map returns the results of a function to a list

In [36]:
number=[50,40,20,25]
print(number)
def addition(x):
    return x+x
result = map(addition,number)
print(list(result))

[50, 40, 20, 25]
[100, 80, 40, 50]

In [ ]:
Max returns the greatest elemment in a list

In [50]:
number=[50,40,20,25]
max(number)

50

Tuple() creates a tuple

In [49]:
number=[50,40,20,25]
tuple(number)

(50, 40, 20, 25)

Len prints the number of elements in a list

In [51]:
number=[50,40,20,25]
len(number)

4